
@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/d-din/D-DIN-Bold.woff2') format('woff2'),
        url('../fonts/d-din/D-DIN-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/d-din/D-DIN.woff2') format('woff2'),
        url('../fonts/d-din/D-DIN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    border-sizing: border-box;
    font-family: 'D-DIN', Arial, Verdana, sans-serif;
    line-height: 1.4;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px auto;
    width: 100%;
    max-width: 100vw;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    transition: .5s;
    z-index: 10;
}

.hide {
    transform: translateY(-100%);
}

.back-color {
    background-color: black;
}

.wrapper { 
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    margin: 30px 7%;
}

.logo {
    display: block;
    width: 210px;
    height: 26.25px;

    object-fit: cover;
    object-position: center;

    margin-right: 35px;
}
.items {
    display: flex;
    gap: 30px;
}
.item-text {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

.capital {
    text-transform: uppercase;
}

.sign-up {
    right: 0;
    bottom: 0;
    position: absolute;
}

.button_sign-up {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}


.hover {
    position: relative;
    display: block;
    overflow: hidden;
}

.hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    height: 1px;
    width: 100%;
    background-color: aliceblue;

    transform: translate(-105%);
    transition: transform .2s ease-in-out;
}

.hover:hover::before {
    transform: translate(0%);
}
