html, body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px; 
    font-family: Helvetica;
}


.title {
    background-image: url("../../image/falcon9/falcon9.webp");
    background-size: cover;
    background-position-x: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
}

.detail {
    height: 135vh;
    background-color: orange;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.numbers {
    height: 25%;
    width: 70%;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    justify-self: center;
}

.number{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 5vw;
}

.fsize-2{
    margin-top: -20%;
    font-size: 2vw;
}


.model-container{
    height: 75%;
    width: 100%;
    background-image: url("../../image/falcon9/rocket_model.webp");
    background-size: cover;
    background-position-x: 60%;
    background-repeat: no-repeat;
}

